@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-green: #3E5C2E;
  --brand-green-hover: #2d4322;

  --menu: #447BF5;
  --menu-hover: #cecece59;
  --menu-active: #b9ddfa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--brand-green);
  --color-primary-hover: var(--brand-green-hover);

  --animate-fade-in: fade-in 300ms ease-out forwards;
  --animate-fade-in-up: fade-in-up 300ms ease-out forwards;

  --color-menu: var(--menu);
  --color-menu-hover: var(--menu-hover);
  --color-menu-active: var(--menu-active);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}